@font-face {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 500;
  font-style: normal;
}

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
  background: white;
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mercury SSm A', 'Mercury SSm B', serif;
}

#content {
  min-height: 100%;
  position: relative;
}

#header {
  position: fixed;
  background: black;
  color: white;
  top: 0;
  width: 100%;
  height: 3em;
}

#header * { display: inline-block; }

#header img {
  width: 50px;
  vertical-align: text-bottom;
  margin: auto 1em;
}

#header a {
  text-decoration: none;
  color: white;
  height: 100%;
  text-align: center;
  vertical-align: top;
  margin: 0 0.66em;
  padding: 1em 0.66em 0 0.66em;
}

#header a:hover {
  color: black;
  background: white;
}

#header a.active { border-bottom: 5px solid white; }

#main {
  padding-top: 3em;
  padding-left: 1em;
  padding-bottom: 200px;
}

#footer {
  padding-left: 1em;
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, white, #eee);
  position: absolute;
  bottom: 0;
}

#footer p {
  font-size: 66%;
}

