---
layout: base
title: About Casey Brant
permalink: /about/
---

<div class="container">
  {% include nav.html page="about" %}

  <main>
    <div class="row">
      <h1 class="spaced-out">Hey</h1>
    </div>
    
    <div class="row">
      <div class="cols-6">
        <p>
          Hey there! I’m Casey. For a long time, I was a programmer. I mean, I still am one, but it was my job for quite a while. During that time, I coded up a lot of user interfaces and websites. Usually they were designed by someone else, and I worked off of a mockup in Figma or Photoshop. Every once in a while, I was the one “designing” the page.
        </p>
        <p>
          It was always a big mystery to me what those designers were doing different from me. I could tell that things came out a lot better when they were involved, but I couldn’t articulate <strong>why</strong> or <strong>what</strong> was different. So a couple of years ago, I decided to fix that and went back to school.
        </p>
        <p>
          Now, with a design degree under my belt, I’m starting to understand what makes the difference between an app or website that's well-designed and one that's designed by… well, by a programmer with no design chops. I know how software works under the hood, and I know how programmers think about it. And now, I know how to think about it from the other direction too: how to make things that users will find attractive, intuitive, and delightful.
        </p>
        <p>
          Maybe you’re working on some software that needs a technically-minded designer to help connect it with users. If so, <a href="/contact">let’s chat about working together</a>.
        </p>
      </div>
      
      <div class="cols-6">
        <img src="/assets/cjb_headshot.jpeg" alt="photo of Casey">
      </div>
    </div>
  </main>
</div>

{% include footer.html %}
