---
layout: base
title: About Casey Brant
permalink: /about/
---

<div class="container">
  {% include nav.html page="about" %}

  <main>
    <div class="row">
      <h1 class="spaced-out">Hey</h1>
    </div>
    
    <div class="row">
      <div class="cols-6">
        <img src="/assets/headshot.jpg" alt="photo of Casey">
      </div>

      <div class="cols-6">
        <p>Hey there! I’m Casey. For a long time, I was a programmer. During that time, I coded up a lot of user
          interfaces and websites. Usually they were designed by someone else, and I worked off of a mockup in Figma or
          Photoshop. Every once in a while, I was the one “designing” the page.</p>

        <p>It was always a big mystery what those designers were doing differently from me. I could tell that things
          came out a lot better when they were involved, but I couldn’t articulate <strong>why</strong>. So a couple of years ago, I
          decided to fix that and went <a href="https://madisoncollege.edu/academics/programs/graphic-design" target="_blank">back to school</a>.</p>

        <p>Now, after a lot of training and practice, I’m starting to understand the difference between something
          that’s well-designed and…whatever it was I used to do. I’m combining my knowledge of how software works under
          the hood with how to make it attractive and intuitive for humans to use.</p>

        <p>If your project could use a technically-minded designer, <a href="/contact/">let’s chat!</a></p>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}
