---
layout: base
title: Casey Brant - Gottfried Prairie Branding
permalink: /portfolio/rebranding/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Rebranding</h1>
    </div>

    <div class="row">
      <img src="/assets/gottfried_hero.jpg" alt="Gottfried Prairie Rebranding Project">
    </div>

    <div class="row">
      <p class="project-overview">
        The <a href="http://gottfriedprairiearboretum.org/" target="_blank">Gottfried Prairie and Arboretum</a> is a nature preservation and restoration project in Fond du Lac, Wisconsin. I wanted to give them new, more modern-feeling branding. I chose the word “connections” as my organizing concept, focusing on the connections between the plants, animals, and people that inhabit the space.
      </p>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
