---
layout: base
title: Casey Brant - Not Rocket Science ad series
permalink: /portfolio/ad_series/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Ad Series</h1>
    </div>

    <div class="row">
      <img src="/assets/ad_series_big_mockup.jpg" alt="Not Rocket Science ad series">
    </div>

    <div class="row">
      <p class="project-overview">
        This is a series of ads for Big Brothers Big Sisters, encouraging individuals to consider volunteering. The concept is “not rocket science,” emphasizing that mentoring is a lot easier than many people think.
      </p>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/ad_series_first_draft.jpg" alt="Ad series first draft">
        <p class="centered photo-caption">Regrettable first draft.</p>
      </div>
      <div class="cols-4">
        <p>
          Designing this ad series was a lesson in learning to let go of the need to create everything myself. I started out by creating the astronaut illustrations in Illustrator with an eye towards building poseable components. The results on the left here, uh, speak for themselves. Once I finally admitted that the custom illustrations weren’t working, I was able to let them go and purchase assets to modify and use, and the design came together quickly after that!
        </p>

        <p>
          I illustrated the background space imagery and the hand lettering myself as well, so I was able to retain some of that personal touch in spite of using purchased art for the main subjects.
        </p>
      </div>
      <div class="cols-4">
        <img src="/assets/ad_series_single_poster.jpg" alt="Revised poster using purchased art">
        <p class="centered photo-caption">Much better revised version!</p>
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
