---
layout: base
title: Casey Brant - Gottfried Prairie Branding
permalink: /portfolio/rebranding/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Rebranding</h1>
    </div>

    <div class="row">
      <img src="/assets/gottfried_hero.jpg" alt="Gottfried Prairie Rebranding Project">
    </div>

    <div class="row">
      <p class="project-overview">
        The <a href="http://gottfriedprairiearboretum.org/" target="_blank">Gottfried Prairie and Arboretum</a> is a nature preservation and restoration project in Fond du Lac, Wisconsin. I wanted to give them new, more modern-feeling branding. I chose the word “connections” as my organizing concept, focusing on the connections between the plants, animals, and people that inhabit the space.
      </p>
    </div>

    <div class="row">
      <div class="cols-8 video-container">
        <img class="video-icon-right" src="/assets/video_icon.svg" alt="This is an embedded video; please click play if autoplay didn't happen.">
        <video src="/assets/gottfried_website_mockup.mp4"
               autoplay
               muted
               loop
               controls
        >
        </video>
      </div>
      <div class="cols-4">
        <p>
          Working primarily in Photoshop, I designed a refresh for the Gottfried website. I wanted to make something attractive and energetic that surfaced all the information potential visitors might want right on a single page. (note: this is an embedded video; please click play if your browser doesn’t autoplay)
        </p>
      </div>
    </div>

    <div class="row dark">
      <div class="cols-6">
        <p>
          The logo for this project was a real challenge. I went through many iterations in Illustrator before settling on something that felt right for the brand and also functioned well in a variety of contexts.
        </p>
      </div>
      <div class="cols-6 video-container">
        <img class="video-icon-right" src="/assets/video_icon.svg" alt="This is an embedded video; please click play if autoplay didn't happen.">
        <video src="/assets/gottfried_logo_process.mp4"
               autoplay
               muted
               loop
               controls
        >
        </video>
      </div>
    </div>
    
    <div class="row">
      <div class="cols-4">
        <p>
          In InDesign, I created a simplified brand spec sheet to guide further designs, such as merchandise, signage, posters, and additional website pages.
        </p>
      </div>
      <div class="cols-8">
        <img src="/assets/gottfried_brand_specs.jpeg" alt="Gottfried brand spec sheet">
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
