---
layout: base
title: Casey Brant - Stonemaier Catalog Spread
permalink: /portfolio/stonemaier_catalog/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Catalog Layout</h1>
    </div>

    <div class="row">
      <img src="/assets/stonemaier_main_spread.jpg" alt="Stonemaier Games catalog">
    </div>

    <div class="row">
      <p class="project-overview">
        Here’s one spread from a brand catalog I did for <a href="https://stonemaiergames.com/" target="_blank">Stonemaier Games</a>. In this project, I learned that type can get <strong>really</strong> small in print. I’m used to designing on and for screens, so seeing just how low I could go and still have things be clean and readable was a big learning moment.
      </p>
    </div>

    <div class="row">
      <div class="cols-4">
        <p>The concept for this catalog is “Games for any player,” emphasizing the brand’s mission to create and publish games for an inclusive audience. I started developing this concept by researching the company and brainstorming ideas that fit how they talked about themselves.</p>
      </div>
      <div class="cols-8">
        <img src="/assets/stonemaier_brainstorming.jpg" alt="Brainstorming ideas">
      </div>
    </div>

    <div class="row">
      <div class="cols-8">
        <img src="/assets/stonemaier_concept.jpg" alt="Games For Any Player Concept">
      </div>
      <div class="cols-4">
        <p>After settling on the concept, I mocked up a quick visual to start to zero in on a coherent style. I wanted to emphasize close-up photography that highlighted the well-crafted components, along with strong type and a sort of scroll/fade effect indicating many possibilities.</p>
      </div>
    </div>

    <div class="row">
      <div class="cols-4">
        <p>I decided to take my own photos for this project. Without a proper home studio, I had to improvise things like the sweep and lighting. It was a challenge to get things looking good, and I knew I had to get it all in one session because I’d never be able to recreate the exact same setup!</p>
      </div>
      <div class="cols-8">
        <img src="/assets/stonemaier_flatlay.jpg" alt="Stonemaier photo shoot">
      </div>
    </div>

    <div class="row">
      <div class="cols-8">
        <img src="/assets/stonemaier_animated_mockup.gif" alt="Animated Stonemaier mockup">
      </div>
      <div class="cols-4">
        <p>The project involved making a whole booklet for the brand. I highlighted the most successful spread above, but the other ones were a good exercise in trying to apply the concept to a variety of layouts and content.</p>
      </div>
    </div>

    <div class="row">
      <div class="cols-4">
        <p>I also created a small animated web banner that leaned into the “selecting from a scrolling menu” visual.</p>
      </div>
      <div class="cols-8">
        <img src="/assets/stonemaier_web_banner.gif" alt="Web banner for Stonemaier">
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
