---
layout: base
title: Casey Brant - Panko Package Designs
permalink: /portfolio/panko_boxes/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Package Design</h1>
    </div>

    <div class="row">
      <img src="/assets/panko_boxes_full_mockup.jpg" alt="Panko Box redesign">
    </div>

    <div class="row">
      <p class="project-overview">
        A redesign of the classic bread crumb packaging. My goal with this project was to class things up while retaining that fun energy of the original. Think more “high-end New York tempura” rather than “mozzarella sticks at the local family restaurant.”
      </p>
    </div>

    <div class="row dark">
      <div class="cols-6">
        <p>
          In Illustrator, I created simple illustrations of some foods most often associated with Panko bread crumbs, with an eye towards using them both as standalone images and also fit together in a pattern for the box backgrounds.
        </p>
      </div>
      <div class="cols-6">
        <img src="/assets/panko_boxes_tempura_pattern.jpg" alt="tempura pattern">
      </div>
    </div>

    <div class="row">
      <div class="cols-6">
        <img src="/assets/panko_boxes_logo_comparison.jpg" alt="Logo comparison">
      </div>
      <div class="cols-6">
        <p>
          I extended the same goal to the Kikkoman logo, aiming for simplicity without abandoning the energy of the original. The current Kikkoman typeface was a bit too close to the Interstate Condensed I'm using for the main box, so I picked something with more contrast.
        </p>
      </div>
    </div>

    <div class="row">
      <img src="/assets/panko_boxes_old_vs_new.jpg" alt="Panko old vs new">
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
