---
layout: base
title: Casey Brant - Mobile App Design for BBBS
permalink: /portfolio/mobile_app_design/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Mobile App Design</h1>
    </div>

    <div class="row">
      <img src="/assets/big_ideas_header_image.jpg" alt="Big Ideas mobile app design">
    </div>

    <div class="row">
      <p class="project-overview">
        Designs for a mobile app called “Big Ideas,” for Big Brothers Big Sisters. It’s a crowdsourced directory of location-specific activity ideas for mentors (“bigs” in the vocabulary of BBBS) to do with their mentees (“littles”). Users can search for activity ideas in their area, upload their own ideas, and review activities they try.
      </p>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/big_ideas_branding_reference_2.jpg" alt="BBBS branding reference 1">
      </div>
      <div class="cols-4">
        <p>
          This project needed to fit into existing brand standards. I didn’t have a spec to work from, so I used assets found on the client website as references to get as close as possible in the app design.
        </p>
      </div>
      <div class="cols-4">
        <img src="/assets/big_ideas_branding_reference_1.jpg" alt="BBBS branding reference 2">
      </div>
    </div>

    <div class="row">
      this row is where we'll put the animation showing off the full app, as well as links to full size jpegs
    </div>

    <div class="row dark">
      <div class="cols-4">
        <p>
          I made a simple icon to go with the app. I also mocked up a landing page to fit in with the existing BBBS website, advertising the app with a call to action to go download it.
        </p>
      </div>
      <div class="cols-6">
        <img src="/assets/big_ideas_website_mockup.jpg" alt="Big Ideas landing page mockup">
      </div>
      <div class="cols-2">
        <img src="/assets/big_ideas_app_icon.jpg" alt="Big Ideas app icon">
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
