---
layout: base
title: Casey Brant - Madison Trees Playing Cards
permalink: /portfolio/trees_cards/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Madison Trees Trading Cards</h1>
    </div>

    <div class="row">
      <img src="/assets/trees_hero.jpg" alt="Madison Trees Trading Cards">
    </div>

    <div class="row">
      <p class="project-overview">
        This set of trading cards was born out of an earlier failed project. I did an independent study on Data Visualization in my second semester, and while I learned a lot, none of the designs I created for that project were salvageable. I still wanted to use the data set I had been studying—Madison’s publicly maintained street trees—so I decided to make some collectible trading cards using the data I had gotten so familiar with.
      </p>
    </div>

    <div class="row">
      <div class="cols-4">
        <p>The city of Madison publishes <a href="https://data-cityofmadison.opendata.arcgis.com/" target="_blank">a
          rich set of open data</a> that they encourage citizens to use for their own purposes. For my second-semester data visualization project, I spent a long time perusing this database until finally landing on Street Trees as what I wanted to analyze.</p>
      </div>
      <div class="cols-4">
        <img src="/assets/trees_data_homepage.jpg" alt="Madison Open Data homepage">
      </div>
      <div class="cols-4">
        <img src="/assets/trees_open_data.jpg" alt="Madison Street Trees data">
      </div>
    </div>
    
    <div class="row">
      <div class="cols-7">
        <img src="/assets/trees_screenshot_tree_map.jpg" alt="Screenshot of trees data visualization project">
      </div>
      <div class="cols-5">
        <p>Ultimately, that independent study was a great learning experience for me, and I came out of it knowing way more about data visualization and analysis than I did before, but my design chops weren’t yet up to the task of making something beautiful with what I’d learned.</p>
        
        <p>Here’s a screenshot of the best part of that project: an interactive map that shows you a list of how many of each type of tree lived in the area you selected.</p>
      </div>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/trees_sketch.jpg" alt="Madison Trees cards sketches">
      </div>
      <div class="cols-4">
        <p>I don’t remember what originally gave me the idea of turning the trees data into a set of collectible trading cards, but it seemed like a perfect way to get something new out of this data I’d spent so much time with. I did some rudimentary data analysis to find stats that would be fun to include on some cards.</p>

        <p>I wanted to include the Madison city flag in the design, so it appears on the card back as well as with modified colors as the background of each card face.</p>
      </div>
      <div class="cols-4">
        <img src="/assets/trees_madison_flag.jpg" alt="Madison city flag">
      </div>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/trees_card1.jpg" alt="Madison Trees card">
      </div>
      <div class="cols-4">
        <img src="/assets/trees_card2.jpg" alt="Madison Trees card">
      </div>
      <div class="cols-4">
        <img src="/assets/trees_card3.jpg" alt="Madison Trees card">
      </div>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/trees_card4.jpg" alt="Madison Trees card">
      </div>
      <div class="cols-4">
        <img src="/assets/trees_card5.jpg" alt="Madison Trees card">
      </div>
      <div class="cols-4">
        <img src="/assets/trees_card6.jpg" alt="Madison Trees card">
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
