---
layout: base
title: Casey Brant - Tombow Mono Pencil ads
permalink: /portfolio/pencil_ads/
---

<div class="container single-portfolio-page">
  {% include nav.html page="portfolio_item" %}

  <main>
    <div class="row">
      <h1>Pencil Ad Series</h1>
    </div>

    <div class="row">
      <img src="/assets/tombow_big_ad.jpg" alt="Tombow Mono pencil ad">
    </div>

    <div class="row">
      <p class="project-overview">
        A series of two magazine ads for the (excellent) Tombow Mono brand of pencil. For these ads, I wanted to take inspiration from those classic 1970s magazine spots with long-form copy and simple product photography. My major learning from this project was that when you choose to have a small number of elements on a page, the care with which you treat each of the individual elements goes way up.
      </p>
    </div>

    <div class="row">
      <div class="cols-4">
        <img src="/assets/tombow_sketch_1.jpg" alt="Tombow sketches">
        <p class="photo-caption centered">I started with several sketches (in pencil, of course).</p>
      </div>
      <div class="cols-4">
        <img src="/assets/tombow_sketch_2.jpg" alt="Tombow sketches">
        <p class="photo-caption centered">Playing with adding and removing elements.</p>
      </div>
      <div class="cols-4">
        <img src="/assets/tombow_sketch_3.jpg" alt="Tombow sketches">
        <p class="photo-caption centered">As I worked through ideas, the page got simpler and simpler.</p>
      </div>
    </div>

    <div class="row">
      <div class="cols-5">
        <img src="/assets/tombow_1_first_draft.jpg" alt="First draft">
      </div>
      <div class="cols-5">
        <img src="/assets/tombow_2_first_draft.jpg" alt="First draft">
      </div>
      <div class="cols-2">
        <p>First draft. The concept is there in rough, but things are sloppy and they aren’t cohering as a series yet. With so few things on
          the page, I needed them all to be treated much more thoughtfully.</p>
      </div>
    </div>

    <div class="row">
      <div class="cols-2">
        <p>The finished product. Everything is aligned, the logo is treated better, the copy is edited down and squared up. Now it’s a series.</p>
      </div>
      <div class="cols-5">
        <img src="/assets/tombow_1_final.jpg" alt="Tombow ad final">
      </div>
      <div class="cols-5">
        <img src="/assets/tombow_2_final.jpg" alt="Tombow ad final">
      </div>
    </div>

    <div class="row end">
      <a href="/">See more of my work</a>
    </div>
  </main>
</div>

{% include footer.html %}
