@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
 * TODO: put all colors up here as a palette
 */

html {
  font-size: 16px;
}

body {
  background-color: #efefea;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  width: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
  line-height: 1em;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1em;
  margin: 0;
  margin-bottom: 1.5rem;
}

main {
  max-width: 35rem;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1.5rem solid #ccc;
  border-bottom: .5rem solid #ccc;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.headshot {
  border: .45rem solid hsl(34, 82%, 72%);
  border-radius: 1000px;
  margin-bottom: 1rem;
  width: 10rem;
}

article {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

section {
  border-bottom: .5rem solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.blog-posts ul {
  margin: 0;
  padding: 0;
}

.blog-posts li {
  list-style: none;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.blog-posts li a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.3rem 0.6rem;
  color: hsl(34, 82%, 30%);
  border-radius: .3rem;
}

.blog-posts li a:hover {
  background-color: #eaeae5;
  color: hsl(34, 82%, 40%);
}

.blog-posts li .title {
  font-weight: bold;
}

.blog-posts li .publish-date {
  font-size: .8rem;
}

footer {
  font-size: .7rem;
}
