body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.container {
  margin: 8%;
  max-width: 750px;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  font-weight: bold;
}
