<footer>
  <div class="container">
    <div class="row">
      <div class="cols-2">
        <p>&copy; 2023 Casey Brant</p>
      </div>

      <div class="gap-column cols-1"></div>

      <div class="cols-2">
        <a href="mailto:contact@caseybrant.com">contact@caseybrant.com</a>
      </div>

      <div class="gap-column cols-1"></div>

      <div class="cols-4">
        <ul>
          <li>
            <a href="https://www.flaticon.com/free-icons/instagram"
               title="instagram icons"
               target="_blank">
              Instagram icon by Freepik (Flaticon)
            </a>
          </li>
          <li>
            <a href="https://www.flaticon.com/free-icons/linkedin"
               title="linkedin icons"
               target="_blank">
              Linkedin icon by Freepik (Flaticon)
            </a>
          </li>
          <li>
            <a href="https://www.flaticon.com/free-icons/behance"
               title="behance icons"
               target="_blank">
              Behance icon by Bogdan Rosu (Flaticon)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
