header {
  padding-bottom: 4rem;
  padding-top: 3rem;

  .row {
    align-items: center;
  }

  .introduction {
    padding-top: 3rem;
    font-size: 1.6em;
    line-height: 1.5em;
  }
}

.portfolio-entry {
  height: 300px;
  margin-top: 4rem;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;

  .row {
    height: 100%;
  }

  .portfolio-image {
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      display: inline-block;
    }

    .portfolio-image-focused { display: none; }
    .portfolio-image-normal { display: block; }
  }

  &:hover {
    background: $color_fg;
    transform: scale(1.02);

    .portfolio-description {
      color: $color_bg;
    }

    .portfolio-image-focused { display: block; }
    .portfolio-image-normal { display: none; }
  }

  &:nth-of-type(even) {
    .portfolio-description { padding-left: $gutter; }
  }
}
