$color-background: #fafafc;
$color-foreground: #220;
$color-highlight: #04aace;
$color-highlight-active: #60e3ff;
$color-avatar-purple: #7c44d6;

$breakpoint-small: 375px;
$breakpoint-bigboy: 1100px;
