<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/fzm2dqc.css">
    <link href="/style.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/favicon.png">
  </head>
  <body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0MRXBJCM4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W0MRXBJCM4');
    </script>

    {{ content }}
  </body>
</html>
