<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/fzm2dqc.css">
    <link href="/style.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/favicon.png">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://caseybrant.com/">
    <meta property="og:title" content="Casey Brant dot com">
    <meta property="og:description" content="Personal website and design portfolio of Casey Brant">
    <meta property="og:image" content="https://caseybrant.com/assets/site_preview.jpg">
  </head>
  <body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0MRXBJCM4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W0MRXBJCM4');
    </script>

    {{ content }}
  </body>
</html>
