<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Casey Brant {{page.title}}</title>

  <link rel="shortcut icon" href="logo.png">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7280032/715782/css/fonts.css" />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="content">
  {% include header.html %}

  <div id="main">
    <h1>Casey Brant</h1>

    {{content}}
  </div>

  {% include footer.html %}
</div>

</body>
</html>

